In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("titanic-homework.csv")
df = df.drop(["PassengerId","Name"], axis=1)
df

    Pclass     Sex  Age  SibSp  Parch  Survived
0        3    male   22      1      0         0
1        1  female   38      1      0         1
2        3  female   26      0      0         1
3        1  female   35      1      0         1
4        3    male   35      0      0         0
..     ...     ...  ...    ...    ...       ...
95       3    male   44      0      0         0
96       1    male   71      0      0         0
97       1    male   23      0      1         1
98       2  female   34      0      1         1
99       2    male   34      1      0         0

[100 rows x 6 columns]

In [20]:
def obliczanie_entropii(S):
    wystapienia_klasa = np.bincount(S)
    prawdopodobienstwo = wystapienia_klasa / len(S)
    entropia = 0
    for p in prawdopodobienstwo:
        if p > 0:
            entropia -= p * np.log2(p)
    return entropia

In [21]:
przykladowe_x = df["Survived"].values
print(f"entropia dla tego x: {obliczanie_entropii(przykladowe_x)}")

entropia dla tego x: 0.9709505944546686

In [22]:
def obliczanie_entropii_warunkowej(S, A):
    wartosci_A, indeksy = np.unique(A, return_inverse=True)
    entropia = 0
    
    for i in range(len(wartosci_A)):
        S_j = np.array(S)[indeksy == i]
        waga = len(S_j) / len(S)
        entropia += waga * obliczanie_entropii(S_j)
    
    return entropia

In [23]:
przykladowe_S = df["Survived"].values
przykladowe_A = df["Pclass"].values
print(f"entropia warunkowa dla tych danych: {obliczanie_entropii_warunkowej(przykladowe_S, przykladowe_A)}")

entropia warunkowa dla tych danych: 0.8892782366556033

In [24]:
def obliczanie_gain(S,A):
    return obliczanie_entropii(S) - obliczanie_entropii_warunkowej(S,A)

In [25]:
print(f"gain dla tych danych: {obliczanie_gain(przykladowe_S, przykladowe_A)}")

gain dla tych danych: 0.08167235779906523

In [ ]:
def obliczanie_intrinsic_information(S,A):
    wartosci_A, liczebnosci = np.unique(A, return_counts=True)
    proporcje = liczebnosci / len(S)
    
    wartosc = 0
    for p in proporcje:
        if p > 0:
            wartosc -= p * np.log2(p)
    return wartosc

In [ ]:

def obliczanie_gain_ratio(S,A):